:global :root {
  --header-height: 100px;
}

.header {
  height: var(--header-height);
  border: 2px solid #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 48px;
}

.subtitle {
  font-size: 16px;
  text-transform: uppercase;
}

.content {
  border: 2px solid #000;
  border-top: none;
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
}

.searchForm {
  display: grid;
  grid-template-columns: minmax(auto, 90%) minmax(80px, 1fr);
  gap: 10px;
  padding: 10px;
  font-size: 16px;
}

.input {
  border: 2px solid #000;
  grid-column: 1;
  height: 50px;
  padding: 0 10px;
}

.submitButton {
  grid-column: 2 / -1;
  grid-row: 1 / span 2;
  text-align: center;
  border: 2px solid #000;
  cursor: pointer;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #f2ca1e;
}
